*{
    margin: 0%;
    padding: 0%;

}
#nav{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
#search{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 0ch;
    background-color: rgb(237, 230, 221);
    margin-left: 20px;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}
#nav>div{
    width:100px
}
#nav>div>img{
    width: 100%;
    border-radius: 40px;
}
#container{
    padding: 2%;
}
#container>div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: auto;
    padding: 2%;
}
#container>div>div>img{
    width:100%;

}
#container>div>div{
    
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 2%;
}
#container2{
    padding: 2%;
}
#container2>div{
    display:flex;
    height: 100px;
    width: 700px;
    gap: 10px;
    justify-content: space-evenly;
    padding: 2%;
}
#container2>div>img{
display: flex;
align-content: flex-end;

}
#container2>div>div{

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}
#navinsider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    margin-left: 50px;
    padding: 10px;
    gap: 30px;
}

#fav{
    height: 40px;
    width: 30px;
    border: 0px solid black;
    background-color: whitesmoke;
   
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    border-radius: 70%;
}
#cart{
    height: 30px;
    border: 0px solid black;
    background-color: whitesmoke;
   
    margin-top: auto;
    margin-bottom: auto;
    color:black;
    border-radius: 70%;
}
#signin{
    height: 30px;
    border: 0px solid black;
    background-color: whitesmoke;
   
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    border-radius: 70%;
}

#benav{
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
#slide{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#slide>div:nth-child(1){
    width: 50%;
    background-color: lightskyblue;

    padding: 2%;
}
#slide>div:nth-child(2){
    width: 50%;
    background-color: lightcoral;
    padding: 2%;    
}
#bottom{
    display: flex;
    gap: 4px;
    margin-top: auto;
    margin-bottom: auto;
}
#bottom>div{
    padding: 1%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#Bottom1{
    display: flex;
    gap: 3px;
    margin: auto;
    gap:10px;
    color: white;
}
#Bottom1>div{
    background-color: rgb(7, 56, 7);
    padding: 1px;
}
#footer{
    background-color: black;
    color: white;
    padding: 2%;
}
#footdown{
    display: flex;
    padding: 20px;
}
#footdown>div{
    padding: 20px;
}
#footup{
    display: flex;
    justify-content: space-evenly;
}
.button{
    background-color: black;
    color: white;
    width: 100px;
}#favbut{
    border-radius: 10px;
    margin-bottom: 2px;
    margin: auto;
    border: 1px solid black;
    background-color: azure;
    width: 100px;
}

#container